<!DOCTYPE html>
<html dir="rtl" lang="he" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ניהול קטלוג קורסים</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'}">
</head>

<body>
<header class="bg-primary py-4">
    <div class="container">
        <h1 class="text-white">ניהול קורסים לסטודנטים</h1>
    </div>
</header>

<div class="container my-3">

    <div class="row mb-3">
        <div class="col-12">
            <h2 class="text-center m-4">
                ניהול דרישות תואר
                <br>
                <small class="text-muted">עריכת דרישה</small>
            </h2>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-xs-12 col-md-8">
            <div class="card card-body">
                <form action="#" th:action="@{/admin/updateDegreeRequirement}" th:object="${degreeRequirement}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <label for="electiveCredits" class="col-form-label">סוג דרישה</label>
                            <input type="text" th:field="*{requirementName}" class="form-control" id="electiveCredits" placeholder="הזן שם דרישה">
                            <span th:if="${#fields.hasErrors('requirementName')}" th:errors="*{requirementName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <label for="mandatoryCredits" class="col-form-label">כמות נקודות זכות</label>
                            <input type="number" th:field="*{mandatoryCredits}" class="form-control" id="mandatoryCredits" placeholder="הזן נקודות זכות">
                            <span th:if="${#fields.hasErrors('mandatoryCredits')}" th:errors="*{mandatoryCredits}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 mt-3">
                            <input type="submit" class="btn btn-primary w-100" value="שמור שינויים">
                        </div>
                        <div class="col-xs-12 col-md-6 mt-3">
                            <a class="btn btn-secondary w-100" th:href="@{/admin/requirements}">ביטול</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="alert alert-danger col-xs-12 col-md-6" th:if="${message}" th:text="${message}"></div>
        </div>
    </div>
    <div th:insert="fragments/footer.html :: footer"></div>
</div>
</body>
</html>
