<!DOCTYPE html>
<html dir="rtl" lang="he" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ניהול קטלוג קורסים</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <style>
        body {
            text-align: right;
        }
        .form-group {
            text-align: right;
        }
    </style>
</head>
<body>

<header class="bg-primary py-3">
    <div class="container">
        <h1 class="text-white">ניהול קורסים לסטודנטים</h1>
        <div th:insert="fragments/navbar.html :: nav"></div>
    </div>
</header>

<main class="container py-4">
    <section>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-4">ניהול קטלוג קורסים</h2>
            </div>
        </div>
    </section>
    <div th:if="${course}" class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">הוסף קורס חדש</h3>
                    <hr>
        <form action="#" method="post" th:action="@{/admin/addCourse}" th:object="${course}">
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    <label class="col-form-label" for="courseName">שם</label>
                    <input class="form-control" id="courseName" placeholder="שם" th:field="*{courseName}" type="text">
                    <span class="text-danger" th:errors="*{courseName}" th:if="${#fields.hasErrors('courseName')}"></span>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="col-form-label" for="credit">נקודות זכות</label>
                    <input class="form-control" id="credit" placeholder="נקודות זכות" th:field="*{credit}" type="number">
                    <span class="text-danger" th:errors="*{credit}" th:if="${#fields.hasErrors('credit')}"></span>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="col-form-label" for="requirementType">שם דרישה</label>
                    <select class="form-control" id="requirementType" th:field="*{requirementType}">
                        <option th:each="requirementName : ${degreeRequirements}" th:value="${requirementName}" th:text="${requirementName}"></option>
                    </select>
                    <span class="text-danger" th:errors="*{requirementType}" th:if="${#fields.hasErrors('requirementType')}"></span>
                </div>
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="הוסף קורס">
            </div>
        </form>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${course}" class="row justify-content-center">
        <div class="col-md-8">
            <a class="btn btn-secondary w-100" th:href="@{/admin/newCourse}">הוסף קורס חדש</a>
        </div>
    </div>

    <section>
        <div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>
    </section>

    <section class="py-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-center text-white">
                        <h4 class="card-title">קטלוג קורסים</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>שם הקורס</th>
                                    <th>סוג הקורס</th>
                                    <th>נקודות זכות</th>
                                    <th>פעולות</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${courses.isEmpty()}">
                                    <td colspan="4" class="text-center">
                                        <div class="alert alert-primary mb-0">
                                            רשימת הקורסים ריקה
                                        </div>
                                    </td>
                                </tr>
                                <tr th:each="course : ${courses}">
                                    <td th:text="${course.courseName}"></td>
                                    <td th:text="${course.requirementType}"></td>
                                    <td th:text="${course.credit}"></td>

                                    <td>
                                        <a class="btn btn-primary"
                                           th:href="@{/admin/editCourse/{id}(id=${course.id})}">ערוך</a>
                                        <form action="#" method="post" th:action="@{/admin/delete}" th:object="${course}">
                                            <input name="id" th:value="${course.id}" type="hidden">
                                            <button class="btn btn-danger" type="submit" value="מחק">מחק</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<footer class="bg-light py-3">
    <div class="container">
        <p>&copy; 2023 מכללת הדסה. כל הזכויות שמורות למרים בינימינס וסלומון דמה.</p>
    </div>
</footer>
</body>
</html>