<!DOCTYPE html>
<html lang="he" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>קטלוג קורסים</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    body {
      text-align: right;
    }
    .card-header {
      text-align: center;

    }
    .table {
      margin: 0;
    }
    .table th, .table td {
      text-align: center;
    }
    .btn-table {
      font-size: 0.8rem;
      padding: 0.2rem 0.5rem;
    }
  </style>
</head>

<body>
<header class="bg-primary py-3">
  <div class="container">
    <h1 class="text-white">ניהול קורסים לסטודנטים</h1>
    <div th:insert="fragments/navbar.html :: nav"></div>
  </div>
</header>

<main class="container py-4">
  <section>
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-4">קטלוג הקורסים במדעי המחשב</h2>
      </div>
    </div>
  </section>

  <section th:if="${degreeRequirements}">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card justify-content-center">
          <div class="card-header bg-primary text-center text-white">
            <h4 class="card-title">מידע לסטודנט</h4>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table">
                <thead class="table-light">
                <tr>
                  <th>סוג הקורס</th>
                  <th>נקודות זכות</th>
                </tr>
                </thead>
                <tbody th:if="${degreeRequirements.isEmpty()}">
                <tr>
                  <td colspan="2" class="text-center">
                    <div class="alert alert-primary mb-0">
                      רשימת דרישות ריקה.
                      <br>
                      חזור במועד מאוחר יותר או פנה לרכז החוג
                    </div>
                  </td>
                </tr>
                <tbody th:unless="${degreeRequirements.isEmpty()}">
                <tr th:each="degreeRequirement:${degreeRequirements}">
                  <td th:text="${degreeRequirement.requirementName}"></td>
                  <td th:text="${degreeRequirement.getMandatoryCredits}"></td>
                </tbody>
                <tfoot class="table-secondary">
                <tr th:if="${totalDegreeRequirement}">
                  <th th:text="${totalDegreeRequirement.requirementName}"></th>
                  <th th:text="${totalDegreeRequirement.mandatoryCredits}"></th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card justify-content-center">
          <div class="card-header bg-primary text-center text-white">
            <h4 class="card-title">קטלוג קורסים</h4>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>שם הקורס</th>
                  <th>סוג הקורס</th>
                  <th>נקודות זכות</th>
                  <th>פעולות</th>
                </tr>
                </thead>
                <tbody th:if="${courses}">
                <tr th:if="${courses.isEmpty()}">
                  <td colspan="4" class="text-center">
                    <div class="alert alert-primary mb-0">
                      רשימת הקורסים ריקה.
                      <br>
                      חזור במועד מאוחר יותר או פנה לרכז החוג
                    </div>
                  </td>
                </tr>
                <tr th:each="course:${courses}" th:unless="${courses.isEmpty()}">
                  <td th:text="${course.courseName}"></td>
                  <td th:text="${course.requirementType}"></td>
                  <td th:text="${course.credit}"></td>
                  <td>
                    <form action="#" method="post" th:action="@{/user/addToStudentList}" th:object="${course}">
                      <input name="id" th:value="${course.id}" type="hidden">
                      <button class="btn btn-primary btn-table" type="submit">הוסף לקורסים שלי</button>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="alert alert-warning" th:text="${message}" th:if="${message}"></span>
  </section>
</main>

<div th:insert="fragments/footer.html :: footer"></div>
</body>
</html>