<!DOCTYPE html>
<html dir="rtl" lang="he" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ניהול קורסים לסטודנטים</title>
    <!--    <link rel="stylesheet" th:href="@{/css/main.css}" />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<header class="bg-primary py-4">
    <div class="container">
        <h1 class="text-white">ניהול קורסים לסטודנטים</h1>
    </div>
</header>

<main class="container mt-4">
    <div class="row">
        <div class="col-12 mb-3">
            <h2 class="text-center">עמוד כניסה</h2>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-5">
            <div class="card mb-3">
                <div class="card-header bg-primary text-center text-white">
                    <h4 class="card-title">כניסה לרשומים</h4>
                </div>
                <div class="card-body text-center">
                    <p>
                        ברוכים הבאים!
                    </p>
                </div>
                <div class="card-footer d-grid">
                    <a th:href="@{/login}" class="btn btn-primary text-white">כניסה</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="fragments/footer.html :: footer"></div>
</body>
</html>
