<!DOCTYPE html>
<html dir="rtl" lang="he" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>התחברות</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<style>
    body {
        text-align: right;
    }
    .card-header {
        text-align: center;
    }
    .table {
        margin: 0;
    }
    .table th, .table td {
        text-align: center;
    }
</style>
<body>
<header class="bg-primary py-3">
    <div class="container">
        <h1 class="text-white">ניהול קורסים לסטודנטים</h1>
    </div>
</header>

<main>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="card-title">התחבר</h4>
                    </div>
                    <div class="card-body">
                        <div th:if="${param.error}" class="alert alert-danger text-center">
                            שם משתמש או סיסמה לא תקינים.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success text-center">
                            התנתקת בהצלחה.
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">שם משתמש:</label>
                                <input type="text" id="username" name="username" class="form-control" required/>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">סיסמה:</label>
                                <input type="password" id="password" name="password" class="form-control" required/>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">כניסה</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p class="mb-0">
                            <a href="../" th:href="@{/}" class="btn btn-secondary">חזרה לדף הבית</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card justify-content-center">
                    <div class="card-header text-center">
                        <h4 class="card-title">דוגמאות התחברות עבור הבודק</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>הרשאה</th>
                                    <th>שם משתמש</th>
                                    <th>סיסמה</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Admin</td>
                                    <td>Solange</td>
                                    <td>SolangeAdmin</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>Miriam</td>
                                    <td>MiriamUser</td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td>Shlomo</td>
                                    <td>ShlomoUser</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="bg-light py-3 text-right foot mt-5">
    <div class="container">
        <p>&copy; מכללת הדסה - תכנות אינטרנט ב' 2023. כל הזכויות שמורות למרים בינימינס וסלומון דמה</p>
    </div>
</footer>

</body>
</html>
